body {
  font-family: Arial, sans-serif;
  background-color: #eef4ff;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

h2, h4 {
  margin-top: 10px;
  color: #005b99;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #dbeafe;
}

td {
  background-color: #ffffff;
}

button {
  padding: 12px 10px;
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b91c1c;
}

a {
  display: inline-block;
  margin-top: 15px;
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

form {
  display: inline;
}

.logout-btn {
  background-color: #2563eb;
  margin-top: 20px;
}

.top-banner {
  background-color:#7ab4b880;
  color: white;
  text-size-adjust: 100;
  padding: 5px 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.top-banner a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
}

.top-banner a:hover {
  text-decoration: underline;
}

.top-banner .left a {
  font-size: 15px;
}

