body {
  font-family: Arial, sans-serif;
  background-color: #eef4ff;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

h2, h4 {
  margin-top: 10px;
  color: #005b99;
}

.top-banner {
  background-color:#7ab4b880;
  color: white;
  text-size-adjust: 100;
  padding: 5px 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.top-banner a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
}

.top-banner a:hover {
  text-decoration: underline;
}

.top-banner .left a {
  font-size: 15px;
}


.form-container{
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 51, 102, 0.2);
}

form{
  display: flex;
  flex-direction: column;
}

label{
  margin-top: 10px;
  font-weight: bold;
}

input{
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button{
  margin-top: 20px;
  padding: 10px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover{
  background-color: #005fa3;
}

.message{
  text-align: center;
  font-weight: bold;
  color: green;
}

.back-link{
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #005b99;
  text-decoration: none;
}

.back-link:hover{
  text-decoration: underline;
}


